{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<article>
    <section id="content">
        <header>
            <h2>Page Not Found</h2>
        </header>
        <p>
            The page you were trying to access could not be found. Try looking for it from the <a href="/">root page</a>.
        </p>
        <p>
            Or check out the <a href="impactjs.com">Impact</a> homepage for further troubleshooting.
        </p>
    </section>
</article>
{% endblock %}
