{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<article>
    <section id="content">
        <header>
            <h2>Impact Games</h2>
        </header>
        <ul>
            <li> <a href="/new">New Game</a> </li>
        </ul>
        <hr />
        <ul>
            <em><a href="/impact/weltmeister.html" target="_blank">Default</a> (<a href="/impact/index.html" target="_blank">Play</a>)</em>
        </ul>
    </section>
</article>
{% endblock %}
